{% extends "base.html" %}

{% block title %}
{{ article.title }} {%if article.subtitle %} - {{ article.subtitle }} {% endif %} · {{ super() }}
{% endblock title %}

{% block head_description %}
{% if article.summary %}
{{ article.summary|striptags }}
{% endif %}
{% endblock head_description %}

{% block meta_tags_in_head %}
{% if article.tags or article.category or article.keywords %}
<meta name="keywords" content="{{ [article.tags|join(', '), article.category, article.keywords]|join(', ') }}" />
{% endif %}

{% if article %}
	{% if TWITTER_CARD_USE %}
		{% include 'twitter_card.html' %}
	{% endif %}
{% endif %}

{% endblock meta_tags_in_head %}


{% block content_title_text %}
<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" class="article-title"
	title="Permalink to {{ article.title|striptags }}">{{ article.title }}
	{% if article.subtitle %}
	<br/><small class="subtitle"> {{ article.subtitle }} </small>
	{% endif %}
</a>
{% endblock %}


{% block content %}
<!-- A single blog post -->
<section class="post">
	<header class="post-header">
		<h2 class="post-title">

		</h2>
	</header>
	<div class="post-description">
		{{ article.content }}

		{% include 'comments.html' %}

		<aside>
		<hr/>
		{% for an_article in dates %}
		{% if an_article.url == article.url %}
		{% set index = loop.index0 %}
		{% if not loop.first %}
		{% set next_article = dates[index-1] %}
		{% endif %}
		{% if not loop.last %}
		{% set previous_article = dates[index+1] %}
		{% endif %}
		<nav>
		<ul class="articles-timeline">
			{% if previous_article %}
			{% set ptitle = previous_article.title %}
			{% set pv_title = ptitle %}
				{%if previous_article.subtitle %}
					{% set pv_title = ptitle + " " + "<br/><small>" + previous_article.subtitle + "</small>" %}
					{% set ptitle = ptitle + " - " + previous_article.subtitle %}
				{% endif %}
			<li class="previous-article">« <a href="{{ SITEURL }}/{{ previous_article.url }}" title="Previous: {{ ptitle }}">{{ pv_title }}</a></li>
			{% endif %}
			{% if next_article %}
			{% set ntitle = next_article.title %}
			{% set nv_title = ntitle %}
				{%if next_article.subtitle %}
					{% set nv_title = ntitle + " " + "<br/><small>" + next_article.subtitle + "</small>" %}
					{% set ntitle = ntitle + " - " + next_article.subtitle %}
				{% endif %}
			<li class="next-article"><a href="{{ SITEURL }}/{{ next_article.url }}" title="Next: {{ ntitle }}">{{ nv_title }}</a> »</li>
			{% endif %}
		</ul>
		<div class="clearfix"></div>
		</nav>
		{% endif %}
		{% endfor %}
		</aside>

	</div>
	<div class="article-metadata">
		{% if article.date %}
		<h4>Published</h4>
		{% set day = article.date.strftime('%d')|int %}
		<time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">
			{{ article.date.strftime('%b') }} {{ day }} {{- article.date.strftime(', %Y') }}
		</time>
		{% endif %}

		{% if article.modified %}
		<h4>Last Updated</h4>
		<div class="last_updated">{{ article.modified }}</div>
		{% endif %}

		{% if article.category %}
		<h4>Category</h4>
		<a class="pure-button pure-button-primary pure-button-small" href="/categories.html#{{ category|replace(' ', '-')|e }}-ref">{{ article.category }}</a>
		{% endif %}

		{% if article.tags %}
		<h4>Tags</h4>
		<ul class="list-of-tags tags-in-article">
		{% for tag in article.tags|sort %}
			<li>
				<a href="/tags.html#{{ tag|replace(' ', '-')|e }}-ref" class="pure-button">
					{{ tag }}
					{% for aTag, tagged_articles in tags if aTag == tag %}
					<span>{{ tagged_articles|count }}</span>
					{% endfor %}
				</a>
			</li>
		{% endfor %}
		</ul>
		{% endif %}

		{% if article.related_posts %}
		<h4>Related Posts</h4>
    <ul>
    {% for related_post in article.related_posts %}
        <li><a href="{{ SITEURL }}/{{ related_post.url }}" class="pretty-link">{{ related_post.title }}</a></li>
    {% endfor %}
    </ul>
		{% endif %}
	</div>
</section>
{% endblock %}


{% block script %}
{{ super() }}
<script type="text/javascript">
$(function() {
	$('.post table').addClass('pure-table');
})
</script>
{% endblock %}