{% extends "base.html" %}

{% block title %}
All Categories · {{ super() }}
{% endblock title %}

{% block content_title_text %}
All Categories
{% endblock %}

{% block head_description %}
All categories of the {{ SITENAME|striptags }} blog. 
{% endblock head_description %}

{% block content %}

{% for category, articles in categories %}
<div class="accordion-group">
	<div class="accordion-heading">
		<a class="accordion-toggle list-of-categories" data-toggle="collapse" data-parent="#accordion2" href="#{{ category|replace(' ', '-')|e }}-ref">
			{% set num = articles|count %}
			{{ category }}<span>{{ num }}</span>
			<!--{{ SITEURL }}/{{ category.url }}-->
		</a>
	</div>
	<div id="{{ category|replace(' ', '-')|e }}-ref" class="accordion-body collapse">
		<div class="accordion-inner">
			<ul class="list-articles-category">
			{% for article in articles %} 
			<li>
				<span>
					<time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
				</span>
				<a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} 
					{% if article.subtitle %}
					<small> {{ article.subtitle }} </small>
					{% endif %}
				</a>
			</li>
			{% endfor %}
			</ul>
		</div>
	</div>
</div>
{% endfor %}

{% endblock %}


{% block script %}
{{ super() }}
<script type="text/javascript">
$(function() {
	$('.accordion-toggle').click(function() {
		$(this).parent().parent().find('.collapse').toggle();
	})
	$('.collapse').hide();
})
</script>
{% endblock script %}
