{% extends "base.html" %}

{% block content_title %}
{% endblock %}

{% block content %}

<!-- show recent only one article -->
{% set article = articles[0] %}
<section class="post">
	<header class="post-header">
		<h2 class="post-title">
			<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
				 title="Permalink to {{ article.title|striptags }}">{{ article.title }}
			</a>
		</h2>
		{% import 'translations.html' as translations with context %}
		{{ translations.translations_for(article) }}

		<p class="post-meta">
			<a class="post-category post-category-category" href="{{ SITE_NAME }}/categories.html#{{article.category}}-ref">{{ article.category }}</a>
			{% for keyword in article.keywords %}
			<a class="post-category post-category-tag" href="#">{{ keyword }}</a>
			{% endfor %}
			{% for tag in article.tags %}
			<a class="post-category post-category-tag" href="{{ SITE_NAME }}/tags.html#{{tag}}-ref">{{ tag }}</a>
			{% endfor %}
			<abbr class="published" title="{{ article.date.isoformat() }}">
			{{ article.locale_date }}
			</abbr>
		</p>
	</header>
	<div class="post-description">{{ article.summary }}</div>
</section>

{% if articles %}
<div class="row-fluid">
  <header>
  	<h1 id="recent-posts">Recent Posts 
  		<a id="allposts" href="{{ SITEURL }}/archives.html">all posts</a>
  	</h1>
  </header>
  {% for article in articles %}
  	{% if not RECENT_ARTICLES_COUNT %}
  		{% set RECENT_ARTICLES_COUNT = 10 %}
  	{% endif %}
  	{% if loop.index0 < RECENT_ARTICLES_COUNT %}
  	<ul class="list-all-articles">
      <li>
	      <a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }} 
	      	{% if article.subtitle %}
	      		<small> {{ article.subtitle }} </small>
	      	{% endif %}
	      </a> 
	      <time pubdate="pubdate" datetime="{{ article.date.isoformat() }}">
	      	{{ article.locale_date }}
	     	</time>
      </li>
  	</ul>
  	{% endif %}
  {% endfor %}
</div>
{% endif %}
{% endblock content %}
